<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="net.PaulChristensen.TestHarnessLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <net.PaulChristensen.TestHarnessLib.Properties.Settings>
            <setting name="PathKey" serializeAs="String">
                <value>path</value>
            </setting>
            <setting name="FileNameKey" serializeAs="String">
                <value>fileName</value>
            </setting>
            <setting name="TypeNameKey" serializeAs="String">
                <value>typeName</value>
            </setting>
            <setting name="RepeatCountKey" serializeAs="String">
                <value>repeatCount</value>
            </setting>
        </net.PaulChristensen.TestHarnessLib.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
